<div class="navbar-inner">
  <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#" onclick="$('#myModal').fadeToggle();return false;">YouTube do {{userInfo.name}}</a>
      <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" onclick="$('#myModal').fadeToggle();return false;" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>{{userInfo.email}}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!--li><a href="#">Profile</a></li-->
            <li class="divider"></li>
            <li><a onclick="logout();return false;" href="#">Logout</a></li>
          </ul>
      </div>
      <div class="nav-collapse">
          <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a ng-click="toggleFavorites()">Favoritos</a></li>
              <li><a ng-click="toggleBlockModules()">Layout</a></li>
          </ul>
      </div><!--/.nav-collapse -->
  </div>
</div>    